.homepage {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em;
  padding-bottom: 8rem;
  position: relative;
  overflow-y: scroll;
  // background: rgba(255, 255, 255, 0.7);
  // backdrop-filter: blur(10px);

  @media screen and (max-width: 480px) {
    padding: 1.6em 2em;
    padding-bottom: 8rem;
    background: rgba(255, 255, 255, 0.65);
  }

  .modules-header {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      flex-direction: column;
      width: 100%;
    }

    h1 {
      font-size: 1.5em;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      margin-bottom: 1em;
    }

    .modules-filter {
      display: flex;
      gap: 1.5em;
      flex-wrap: wrap;

      @media screen and (max-width: 480px) {
        flex-direction: column;
      }

      &__form-group {
        display: flex;
        align-items: center;
        gap: 1em;

        @media screen and (max-width: 480px) {
          gap: 0.5em;
        }

        .label {
          font-size: 1em;
          font-weight: 700;

          @media screen and (max-width: 480px) {
            font-size: 0.8em;
            font-family: "Lato", sans-serif;
          }
        }
        .options {
          border: none;
          border-radius: 5px;
          padding: 0.5em 1em;
          background: transparent;
          box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
          outline: none;
        }
      }
    }
  }

  &__modules {
    width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-evenly;
    // gap: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 3em;
    position: relative;
  }
}
